.head .jqm-header h2 {
	display: block;
	font-size: .28rem;
	font-weight: normal;
	color: #FFF;
}
.add_panel {
	padding-left: .68rem;
	position: relative;
	display: block;
	background-color: #FFF;
	margin-top: 0rem;
	border-top-width: .01rem;
	border-bottom-width: .01rem;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
	padding-right: .2rem;
	background-image: url(../images/add_bg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: .11rem;
	margin-bottom: .15rem;
}
.add_panel img {
	width: .38rem;
	position: absolute;
	left: .15rem;
	top: 32%;
}
.add_panel .media-body {
	background-image: url(../images/d30.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: .3rem;
	padding-bottom: .18rem;
}
.add_panel .media-body h4 {
	font-size: .26rem;
	font-weight: normal;
	margin-top: .2rem;
	margin-bottom: .15rem;
	line-height: .26rem;
	height: .26rem;
	color: #333;
}
.add_panel .media-body h4 .pull-right {
	float: right;
}
.add_panel .media-body h5 {
	font-size: .26rem;
	font-weight: normal;
	margin-bottom: 0rem;
	line-height: .32rem;
	color: #888;
}
.add_panel .media-body .text-warning {
	color: #c09853;
}
.ui-checkbox, .ui-radio {
	margin: 0em;
}
.cart_div .panel-heading {
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	position: relative;
	padding-left: 0rem;
	overflow: hidden;
	background-color: #fff;
}
.cart_div .panel-heading h2 {
	font-size: .26rem;
	color: #333;
	font-weight: normal;
	line-height: .62rem;
	display: block;
	height: .62rem;
	padding-right: .24rem;
	float: left;
	margin-left: .2rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}
.cart_div .panel-heading h5 {
	font-size: .25rem;
	color: #999;
	font-weight: normal;
	line-height: .62rem;
	display: block;
	height: .62rem;
	padding-right: .24rem;
	float: left;
	margin-left: .2rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}
.cart_div .panel-heading .aoc {
	font-size: .25rem;
	color: rgb(238, 162, 0);
	font-weight: normal;
	line-height: .62rem;
	display: block;
	height: .62rem;
	padding-right: .24rem;
	float: right;
	margin-left: .2rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}
.cart_div .panel-heading .store {
	font-size: .26rem;
	color: #888;
	font-weight: normal;
	line-height: .62rem;
	display: block;
	height: .62rem;
	background-image: url(../images/d30.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: .24rem;
	float: right;
	margin-right: .2rem;
}
.cart_div .panel-container {
	border-bottom-width: 0rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	position: relative;
	padding-left: 0rem;
	background-color: #fff;
}
.cart_div .panel-container .ui_ca {
	padding-top: .15rem;
	padding-bottom: .15rem;
	display: block;
	position: relative;
	padding-left: 1.9rem;
	overflow: hidden;
}
.cart_div .panel-container .ui_ca .pic {
	height: 1.75rem;
	width: 1.75rem;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 0rem;
	top: .15rem;
}
.cart_div .panel-container .ui_ca .pic img {
	max-height: 100%;
	min-height: 100%;
	margin-right: auto;
	margin-left: auto;
}
.cart_div .panel-container .ui_ca .h4 {
	font-size: .26rem;
	color: #ff5000;
	line-height: .3rem;
	height: .6rem;
	margin-top: .03rem;
	margin-bottom: .03rem;
	padding-top: .03rem;
	padding-bottom: .03rem;
	white-space: normal;
}
.cart_div .panel-container .ui_ca .h5 {
	font-size: .26rem;
	color: #333;
	line-height: .32rem;
	height: .64rem;
	white-space: normal;
	display: block;
}
.cart_div .panel-container .ui_ca .h6 {
	font-size: .24rem;
	color: #888;
	line-height: .32rem;
	height: .64rem;
	margin-top: .03rem;
	margin-bottom: .03rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	white-space: normal;
	display: block;
}
.cart_div .panel-container .ui_ca .price {
	overflow: hidden;
	clear: both;
	padding-top: .04rem;
	padding-bottom: .04rem;
	margin-bottom: .04rem;
}
.cart_div .panel-container .ui_ca .price em {
	font-size: .2rem;
	font-weight: normal;
	color: #f0694c;
	font-style: normal;
	float: left;
	line-height: .2rem;
	height: .2rem;
	padding-top: .08rem;
	margin-right: .05rem;
}
.cart_div .panel-container .ui_ca .price span {
	font-size: .3rem;
	font-weight: normal;
	color: #f0694c;
	font-style: normal;
	float: left;
	line-height: .3rem;
	height: .3rem;
}
.cart_div .panel-container .quantity {
	font-size: .25rem;
	color: #666;
	line-height: .25rem;
	font-weight: normal;
	position: absolute;
	right: 0rem;
	bottom: .2rem;
}
.cart_div li .panel-container li {
	position: relative;
	padding-left: .2rem;
	padding-right: .2rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	margin-bottom: 0rem;
	background-color: #fff;
}
.cart_div {
	border-bottom-width: 0rem;
	background-color: transparent;
	margin-bottom: 0rem;
}
.cart_div li {
	border-bottom-width: 0rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	margin-bottom: .15rem;
}
.cart_div li .list1 li {
	background-color: #fff;
}
.cart_div li .tip0 {
	background-color: #FFF;
}
.btn-xs {
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	overflow: hidden;
	display: block;
	font-size: .26rem;
	color: #333;
	margin: 0rem;
	padding: 0rem;
	background-color: #FFF;
}
.btn-xs .pull-left {
	float: left;
	font-size: .26rem;
	line-height: .26rem;
	font-weight: normal;
	color: #333;
	height: .26rem;
	padding: .2rem;
	background-color: transparent;
}
.btn-xs .pull-right0 {
	float: right;
	font-size: .26rem;
	line-height: .26rem;
	font-weight: normal;
	color: #333;
	height: .26rem;
	margin-right: .2rem;
	padding-top: .2rem;
	padding-right: 0rem;
	padding-bottom: .2rem;
	padding-left: .2rem;
}
.btn-xs .pull-right1 {
	float: right;
	font-size: .26rem;
	line-height: .26rem;
	font-weight: normal;
	color: #F00;
	height: .26rem;
	margin-right: .2rem;
	padding-top: .2rem;
	padding-right: 0rem;
	padding-bottom: .2rem;
	padding-left: .2rem;
}
.btn-xs .pull-right2 {
	float: right;
	font-size: .22rem;
	line-height: .26rem;
	font-weight: normal;
	color: #999;
	height: .26rem;
	margin-right: .2rem;
	padding-top: .2rem;
	padding-right: 0rem;
	padding-bottom: .2rem;
	padding-left: .2rem;
}
.btn-xs .pull-right {
	float: right;
	background-image: url(../images/d30.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: .26rem;
	line-height: .26rem;
	font-weight: normal;
	color: #333;
	height: .26rem;
	margin-right: .2rem;
	padding-top: .2rem;
	padding-right: .25rem;
	padding-bottom: .2rem;
	padding-left: .2rem;
}
.btn-xs .aoc-right {
	float: right;
	font-size: .26rem;
	line-height: .24rem;
	font-weight: normal;
	color: #333;
	height: .24rem;
	padding: .2rem;
	margin-right: 0rem;
}
.btn-xs .aoc-right span {
	color: #f0694c;
}
.btn-xs .div-right {
	float: right;
	font-size: .26rem;
	line-height: .24rem;
	font-weight: normal;
	color: #333;
	padding: 0rem;
	width: 72%;
}
.btn-xs .div-right textarea {
	font-size: .26rem;
    color: #999;
    line-height: .3rem;
    font-weight: normal;
    border: .01rem solid #e7e7e7!important;
    padding: .05rem;
    margin-top: .17rem;
    margin-right: 0rem;
    margin-bottom: .1rem;
    margin-left: 0rem;
    min-height: .9rem;
        width: 97%;
}
.add_li {
	position: relative;
	display: block;
	background-color: #FFF;
	border-top-width: 0rem;
	border-bottom-width: .01rem;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
	padding-top: .1rem;
	padding-right: .2rem;
	padding-bottom: .1rem;
	padding-left: .2rem;
}
.add_li i {
	    font-size: .5rem;
	    color: #d8d8d8;
	    height: .76rem;
	    line-height: .84rem;
	    width: .76rem;
	    position: absolute;
	    right: 0rem;
	    top: 50%;
	    text-align: center;
	    margin-top: -.38rem;
}
.add_li .media-body {
	padding-right: .4rem;
}
.add_li .media-body h4 {
	font-size: .3rem;
	font-weight: normal;
	margin-top: .2rem;
	margin-bottom: .2rem;
	line-height: .3rem;
	height: .3rem;
	color: #333;
}
.add_li .media-body h4 .pull-right {
	float: right;
}
.add_li .media-body h5 {
	font-size: .26rem;
	font-weight: normal;
	margin-bottom: .1rem;
	line-height: .36rem;
	color: #888;
	height: .72rem;
}
.add_first {
	position: relative;
	display: block;
	background-color: #ff5000;
	border-top-width: 0rem;
	border-bottom-width: .01rem;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
	padding-top: .1rem;
	padding-right: .2rem;
	padding-bottom: .1rem;
	padding-left: .2rem;
}
.add_first i {
	    font-size: .5rem;
	    color: #d8d8d8;
	    height: .76rem;
	    line-height: .84rem;
	    width: .76rem;
	    position: absolute;
	    right: 0rem;
	    top: 50%;
	    text-align: center;
	    margin-top: -.38rem;
}
.add_first .media-body {
	padding-right: .3rem;
}
.add_first .media-body h4 {
	font-size: .28rem;
	font-weight: normal;
	margin-top: .2rem;
	margin-bottom: .15rem;
	line-height: .26rem;
	height: .26rem;
	color: #fff;
}
.add_first .media-body h4 .pull-right {
	float: right;
}
.add_first .media-body h5 {
	font-size: .26rem;
	font-weight: normal;
	margin-bottom: .1rem;
	line-height: .32rem;
	color: #fff;
	height: .72rem;
}
.forms_inp .mnb .ui-checkbox .ui-btn {
	margin-top: .15rem;
}
.forms_inp .ui-input-text {
	padding-top: .17rem;
	padding-right: .2rem;
	padding-bottom: .18rem;
	padding-left: .2rem;
	margin: 0rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	border-top-width: 0rem;
	border-right-width: 0rem;
	border-left-width: 0rem;
}
.forms_inp .ui-input-text input {
	font-size: .26rem;
	color: #888;
	padding: .05rem;
}
.forms_inp textarea.ui-input-text {
	font-size: .26rem;
	color: #888;
	padding: .05rem;
	border: .01rem solid #e7e7e7;
	font-size: .26rem;
	font-weight: normal;
	margin-bottom: .1rem;
	line-height: .3rem;
	margin-top: .1rem;
	margin-right: .2rem;
	margin-left: .2rem;
	height: 2rem!important;
	width: 94%;
}
.xuanz_r {
	font-size: .26rem;
	color: #888;
	line-height: .48rem;
	height: .48rem;
	text-align: left;
	display: block;
	padding-top: .02rem;
	padding-right: .05rem;
	padding-bottom: .02rem;
	padding-left: .05rem;
	background-image: url(../images/d32.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.dq_city {
	font-size: .22rem;
	line-height: .4rem;
	height: .4rem;
	color: #888;
	padding-right: .2rem;
	padding-left: .2rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #d6d6d6;
}
.dq_city1 {
	font-size: .26rem;
	line-height: .32rem;
	height: .32rem;
	color: #888!important;
	padding-right: .2rem!important;
	padding-left: .2rem!important;
	border-top-width: .01rem;
	border-top-style: solid;
	border-top-color: #d6d6d6;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #d6d6d6!important;
	background-color: #f0f0f0!important;
	margin: 0rem!important;
	padding-top: 0rem!important;
	padding-bottom: 0rem!important;
	clear: both;
}
.dw_city {
	font-size: .26rem;
	padding-top: .15rem;
	padding-right: .2rem;
	padding-bottom: .15rem;
	padding-left: .58rem;
	background-color: #FFF;
	display: block;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #d6d6d6;
	position: relative;
	color: #555;
	font-size: .26rem;
}
.dw_city .ak1 {
	display: block;
	position: absolute;
	width: .24rem;
	left: .2rem;
	top: .13rem;
}
.city_ul .province_li {
	color: #888;
	float: left;
	width: 100%;
}
.city_ul .province_li a {
	font-size: .13rem;
	padding-top: .08rem;
	padding-right: 0rem;
	padding-bottom: .08rem;
	padding-left: 0rem;
	color: #888;
	margin-right: .1rem!important;
	margin-left: .1rem!important;
	border-top-width: .01rem;
	border-top-style: solid;
	border-top-color: #d6d6d6;
}
.city_ul .province_li .first {
	background-image: url(../images/city_3d.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.city_ul .city_li a {
	font-size: .26rem;
	text-align: left!important;
	color: #888!important;
	text-overflow: clip!important;
	border-bottom-width: 0rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	border-right-width: 0rem!important;
	border-right-style: solid!important;
	border-right-color: #e0e0e0!important;
	line-height: .46rem;
	height: .46rem;
	margin: 0rem;
	background-color: #FFF;
	font-weight: normal;
	padding-top: .1rem;
	padding-right: .2rem;
	padding-bottom: .1rem;
	padding-left: .2rem;
}
.city_ul .city_li .first {
	background-image: url(../images/city_3d.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.city_ul {
	background-color: #FFF;
	border-bottom-width: 0rem;
	border-bottom-style: solid;
	border-bottom-color: #d6d6d6;
}
.city_ul .city_li {
	color: #888;
	float: left;
	width: 100%;
	display: inline-block;
}
.city_ul .city_li1 {
	color: #888;
	width: 100%;
}
.city_ul .city_li1 a {
	font-size: .26rem;
	text-align: left!important;
	color: #888!important;
	text-overflow: clip!important;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	border-right-width: .01rem!important;
	border-right-style: solid!important;
	border-right-color: #e0e0e0!important;
	margin: 0rem;
	background-color: #FFF;
	font-weight: normal;
	padding-top: .15rem;
	padding-right: 0rem;
	padding-bottom: .15rem;
	padding-left: .2rem;
}
.city_ul .city_li1 .ui-btn h3 {
	font-size: .26rem;
	color: #333;
	line-height: .24rem;
	height: .24rem;
	margin-bottom: .08rem;
	font-weight: normal;
	padding: 0rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-left: 0rem;
}
.city_ul .city_li1 .ui-btn h4 {
	font-size: .22rem;
	line-height: .28rem;
	height: .56rem;
	font-weight: normal;
	color: #999;
	white-space: normal;
	margin: 0rem;
	padding: 0rem;
}
.rightpane {
	background-color: #f0f0f0;
}
.rightpane .jqm-header_w {
	height: .72rem;
	border-bottom-color: #e0e0e0;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
}
.rightpane .ui-panel-inner {
	padding: 0em;
}
.rightpane .jqm-header_w h2 {
	font-size: .25rem;
	font-weight: normal;
	color: #333;
	line-height: .72rem;
	height: .72rem;
}
.rightpane .ui-content {
	margin-top: 0rem;
}
.ui-panel {
	width: 23em;
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
	right: 23em;
}
.win_p {
	padding: 0rem;
}
.win_p .title0 {
	margin: 0rem;
	font-size: .32rem;
	line-height: .74rem;
	height: .74rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	font-weight: normal;
	color: #333;
	position: relative;
	padding-top: 0rem;
	padding-right: .2rem;
	padding-bottom: 0rem;
	padding-left: .2rem;
	text-align: center;
}
.win_p .title0 .c_img {
	height: .46rem;
	width: .46rem;
	position: absolute;
	right: 0rem;
	top: .06rem;
	margin: .05rem;
}
.win_p .title {
	margin: 0rem;
	font-size: .32rem;
	line-height: .74rem;
	height: .9rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	font-weight: normal;
	color: #f0694c;
	position: relative;
	padding-top: 0rem;
	padding-right: .2rem;
	padding-bottom: 0rem;
	padding-left: 1.84rem;
}
.win_p .title .y_img {
	height: 1.4rem;
	width: 1.4rem;
	position: absolute;
	left: .2rem;
	bottom: .15rem;
	border: .04rem solid #FFF;
	border-radius: .08rem;
}
.win_p .title .c_img {
	height: .46rem;
	width: .46rem;
	position: absolute;
	right: 0rem;
	top: .06rem;
	margin: .05rem;
}
.win_p .text {
	padding-top: .2rem;
	padding-bottom: .2rem;
	border-bottom-width: 0rem;
	border-bottom-style: solid;
	border-bottom-color: #ededed;
	overflow-y: scroll;
	color: #888;
	font-size: .26rem;
	line-height: .32rem;
	padding-right: .2rem;
	padding-left: .2rem;
}
.win_p .text .con {
	border-top-width: .01rem;
	border-top-style: solid;
	border-top-color: #e0e0e0;
	padding-top: .1rem;
	padding-bottom: .1rem;
	overflow: hidden;
	margin-bottom: .1rem;
}
.win_p .text .con .ui-link {
	color: #333;
	display: block;
	float: left;
	padding-top: .15rem;
	padding-right: .25rem;
	padding-bottom: .15rem;
	padding-left: .25rem;
	font-size: .25rem;
	line-height: .25rem;
	background-color: #f6f6f6;
	font-weight: normal;
	margin-right: .12rem;
	margin-top: .06rem;
	margin-bottom: .06rem;
	border-radius: .05rem;
}
.win_p .text h3 {
	color: #555;
	font-size: .26rem;
	font-weight: normal;
	line-height: .46rem;
	height: .46rem;
	padding: 0rem;
	margin-bottom: .1rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-left: 0rem;
}
.win_p .text p {
	color: #888;
	font-size: .24rem;
	line-height: .34rem;
	font-weight: normal;
	margin-top: .1rem;
	margin-bottom: .2rem;
	padding: 0rem;
}
.win_p .quai {
	padding-top: .1rem;
	padding-bottom: .1rem;
	border-top-width: .01rem;
	border-top-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	overflow: hidden;
}
.win_p .quai h3 {
	float: left;
	line-height: .55rem;
	height: .55rem;
}
.win_p .quai .tb-numberOperation {
	float: right;
}
.win_p .tj {
	padding: .1rem;
	position: relative;
	border-top-width: .01rem;
	border-top-style: solid;
	border-top-color: #ededed;
	font-size: .26rem;
}
.win_p .tj .btn_xd {
	font-size: .26rem;
	font-weight: normal;
	color: #FFF;
	text-align: center;
	background-color: #ff8a00;
	line-height: .52rem;
	height: .52rem;
	padding-right: .3rem;
	padding-left: .3rem;
	position: absolute;
	top: .12rem;
	right: .1rem;
	font-style: normal;
	text-shadow: 0 0rem 0 #f3f3f3;
	border-radius: .06rem;
	display: block;
}
.win_p .tj .jg {
	color: #F00;
	font-size: .36rem;
}
.win_p .tj .jg em {
	font-size: .2rem;
	font-style: normal;
	font-weight: normal;
}
.nav_td {
	background-color: #FFF;
	border-top-width: .01rem!important;
	border-top-style: solid!important;
	border-top-color: #d8d8d8!important;
	overflow: hidden;
}
.nav_td li {
	float: left;
	height: .87rem;
}
.nav_td .jr {
	height: .87rem;
	position: relative;
	text-align: center;
	font-size: .26rem;
	color: #fff;
	background-color: #ff9402;
	line-height: .87rem;
	display: block;
}
.nav_td .js {
	height: .87rem;
	position: relative;
	text-align: center;
	font-size: .28rem;
	color: #fff;
	background-color: #ff5000;
	line-height: .87rem;
	display: block;
}
.ui-controlgroup, fieldset.ui-controlgroup {
	padding: 0rem;
	margin: 0rem;
	border-width: 0rem;
}
.qb .ui-input-text {
	padding-top: .1rem;
	padding-right: .2rem;
	padding-bottom: .1rem;
	padding-left: .2rem;
	margin: 0rem;
	border: .01rem solid #e0e0e0;
	border-radius: .08rem;
}
.qb .ui-input-text input {
	font-size: .26rem;
	color: #888;
	padding: .05rem;
}
.gx {
	text-align: left;
	background-color: #ff7e00;
	padding-top: 1rem;
	padding-right: .4rem;
	padding-bottom: .4rem;
	padding-left: .4rem;
	background-image: url(../images/ddan.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.gx h1 {
	color: #FFF;
	font-size: .38rem;
	line-height: .38rem;
	font-weight: normal;
	padding: 0rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
}
.gx h1 span {
	color: #FFF;
	font-size: .26rem;
	display: block;
	margin-top: .06rem;
}
.panel_dd {
	margin-bottom: .1rem;
	border-bottom: .01rem solid rgb(223, 223, 223);
	background-color: #fff;
}
.panel_dd .text_dd {
	padding: .2rem;
	font-size: .26rem;
	line-height: .36rem;
	font-weight: normal;
	color: #888;
	max-height: 100%;
}
.nav_cart .btn_z2 {
	font-size: .26rem;
	color: #fff;
	background-color: rgb(238, 162, 0);
	margin-top: .1rem;
	margin-right: .08rem;
	margin-bottom: .1rem;
	margin-left: .08rem;
	line-height: .32rem;
	float: right;
	padding-top: .16rem;
	padding-right: .8rem;
	padding-bottom: .16rem;
	padding-left: .8rem;
	border-radius: .05rem;
	height: .32rem;
	border: .01rem solid rgb(238, 162, 0);
}
.nav_cart .btn_z1 {
	font-size: .26rem;
	color: rgb(238, 162, 0);
	background-color: #fff;
	margin-top: .1rem;
	margin-right: .08rem;
	margin-bottom: .1rem;
	margin-left: .06rem;
	line-height: .32rem;
	float: right;
	padding-top: .16rem;
	padding-right: .5rem;
	padding-bottom: .16rem;
	padding-left: .5rem;
	border-radius: .05rem;
	height: .32rem;
	border: .01rem solid rgb(238, 162, 0);
}
.nav_cart .btn_z0 {
	font-size: .26rem;
	color: #333;
	background-color: rgb(255,255,255);
	margin-top: .1rem;
	margin-right: .08rem;
	margin-bottom: .1rem;
	margin-left: .08rem;
	line-height: .32rem;
	float: right;
	padding-top: .16rem;
	padding-right: .5rem;
	padding-bottom: .16rem;
	padding-left: .5rem;
	border-radius: .05rem;
	height: .32rem;
	border: .01rem solid rgb(204,204,204);
}
.txt_list {
	margin-bottom: .1rem;
}
.txt_list li {
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	font-size: .26rem;
	line-height: .32rem;
	font-weight: normal;
	position: relative;
	padding-left: 1.9rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.txt_list .sz {
	height: .34rem;
}
.txt_list .sz .mnb {
	position: absolute;
	top: .1rem;
	left: 1.9rem;
}
.txt_list li h2 {
	font-size: .26rem;
	line-height: .8rem;
	font-weight: normal;
	color: rgb(153, 153, 153);
	height: .8rem;
	position: absolute;
	left: 0rem;
	top: 0rem;
	display: block;
	text-align: left;
	margin: 0rem;
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	padding-left: .2rem;
}
.delete {
	background-color: rgb(255, 255, 255);
	height: .8rem;
	color: rgb(230, 33, 41);
	font-size: .26rem;
	line-height: .8rem;
	font-weight: normal;
	position: relative;
	padding-left: .2rem;
	display: block;
	border-top-width: .01rem;
	border-bottom-width: .01rem;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
}
.tabs {
	color: #333;
	text-shadow: 0 0rem 0 #333;
	font-weight: normal;
}
.ddan .ui-navbar li {
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.ddan .ui-navbar li .ui-btn {
	color: #333;
	text-shadow: 0 0rem 0 #333;
	font-weight: normal;
	background-color: #FFFFFF;
	border-top-width: 0rem;
	border-right-width: 0rem;
	border-bottom-width: .04rem;
	border-left-width: 0rem;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #fff;
	border-right-color: #e0e0e0;
	border-bottom-color: #fff;
	border-left-color: #fff;
	font-size: .26rem;
	line-height: .64rem;
	height: .62rem;
	text-align: center;
	margin: 0rem;
	padding: 0rem;
	width: auto;
}
.ddan .ui-navbar li .ui-btn-active {
	color: #ff5000;
	text-shadow: 0 0rem 0 #333;
	font-weight: normal;
	background-color: #FFFFFF;
	border-top-width: 0rem;
	border-right-width: 0rem;
	border-bottom-width: .04rem;
	border-left-width: 0rem;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #fff;
	border-right-color: #e0e0e0;
	border-bottom-color: #ff5000;
	border-left-color: #fff;
	font-size: .26rem;
	line-height: .64rem;
	height: .62rem;
	text-align: center;
	margin: 0rem;
	padding: 0rem;
	width: auto;
}
.tabs .ui-content {
	margin-top: 0rem;
}
.nav_cart1 {
	background-color: #f9f9f9;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	overflow: hidden;
}
.nav_cart1 .btn_z2 {
	font-size: .26rem;
	color: #fff;
	background-color: rgb(238, 162, 0);
	margin-top: .1rem;
	margin-right: .05rem;
	margin-bottom: .1rem;
	margin-left: .05rem;
	line-height: .25rem;
	float: right;
	padding-top: .18rem;
	padding-right: .6rem;
	padding-bottom: .18rem;
	padding-left: .6rem;
	border-radius: .05rem;
	height: .26rem;
	border: .01rem solid rgb(238, 162, 0);
}
.nav_cart1 .btn_z1 {
	font-size: .26rem;
	color: rgb(238, 162, 0);
	background-color: #fff;
	margin-top: .1rem;
	margin-right: .05rem;
	margin-bottom: .1rem;
	margin-left: .05rem;
	line-height: .25rem;
	float: right;
	padding-top: .18rem;
	padding-right: .3rem;
	padding-bottom: .18rem;
	padding-left: .3rem;
	border-radius: .05rem;
	height: .26rem;
	border: .01rem solid rgb(238, 162, 0);
}
.nav_cart1 .btn_z0 {
	font-size: .26rem;
	color: #333;
	background-color: rgb(255,255,255);
	margin-top: .1rem;
	margin-right: .05rem;
	margin-bottom: .1rem;
	margin-left: .05rem;
	line-height: .25rem;
	float: right;
	padding-top: .18rem;
	padding-right: .3rem;
	padding-bottom: .18rem;
	padding-left: .3rem;
	border-radius: .05rem;
	height: .26rem;
	border: .01rem solid rgb(204,204,204);
}
.effective {
	padding-left: 2.72rem;
	padding-right: .2rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
	position: relative;
	border-bottom-width: .01rem;
	overflow: hidden;
	display: block;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.effective img {
	height: 1.5rem;
	width: 2.4rem;
	left: .14rem;
	top: .2rem;
	position: absolute;
}
.effective .img3 {
	height: 1.5rem;
	width: 2.4rem;
	left: .14rem;
	top: .2rem;
	position: absolute;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.effective h2 {
	line-height: .32rem;
	margin-top: .04rem;
	margin-right: 0rem;
	margin-bottom: .1rem;
	margin-left: 0;
	font-size: .28rem;
	font-weight: normal;
	text-overflow: ellipsis;
	height: .64rem;
	overflow: hidden;
	color: rgb(51, 51, 51);
}
.effective h3 {
	margin-right: 0%;
	font-size: .26rem;
	color: rgb(136, 136, 136);
	margin-top: 0rem;
	margin-bottom: .04rem;
	margin-left: 0rem;
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	line-height: .3rem;
	height: .32rem;
	font-weight: normal;
}
.effective_r {
	position: relative;
	overflow: hidden;
	display: block;
	margin: .1rem;
	border: .01rem solid #e0e0e0;
	background-color: #FFF;
	height: 1.4rem;
	padding-top: .2rem;
	padding-right: 2.6rem;
	padding-bottom: .15rem;
	padding-left: .15rem;
}
.effective_r img {
	height: 1.5rem;
	width: 2.4rem;
	right: 0rem;
	top: .13rem;
	position: absolute;
}
.effective_r h2 {
	line-height: .32rem;
	margin-top: 0rem;
	margin-right: 0rem;
	margin-bottom: .06rem;
	margin-left: 0;
	font-size: .28rem;
	font-weight: normal;
	text-overflow: ellipsis;
	height: .64rem;
	overflow: hidden;
	color: rgb(51, 51, 51);
}
.effective_r h3 {
	margin-right: 0%;
	font-size: .26rem;
	color: rgb(136, 136, 136);
	margin-top: 0rem;
	margin-bottom: .06rem;
	margin-left: 0rem;
	line-height: .26rem;
	height: .26rem;
	font-weight: normal;
	padding: 0rem;
}
.head .jqm-header_w .edit_r1 {
	font-size: .26rem;
	line-height: .68rem;
	color: #333;
}
.effective {
	padding-left: 2.72rem;
	padding-right: .2rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
	position: relative;
	border-bottom-width: .01rem;
	overflow: hidden;
	display: block;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.msn_li {
	padding-left: 1.05rem;
	padding-right: .2rem;
	padding-top: .24rem;
	padding-bottom: .24rem;
	position: relative;
	border-bottom-width: .01rem;
	overflow: hidden;
	display: block;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.msn_li img {
	height: .7rem;
	width: .7rem;
	left: .2rem;
	top: .24rem;
	position: absolute;
	border-radius: .05rem;
}
.msn_li h2 {
	line-height: .32rem;
	margin-top: .02rem;
	margin-right: 0rem;
	margin-bottom: .02rem;
	margin-left: 0;
	font-size: .27rem;
	font-weight: normal;
	text-overflow: ellipsis;
	height: .32rem;
	overflow: hidden;
	color: rgb(51, 51, 51);
}
.msn_li h3 {
	margin-right: 0%;
	font-size: .26rem;
	color: rgb(136, 136, 136);
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	line-height: .32rem;
	height: .32rem;
	font-weight: normal;
	overflow: hidden;
}
.msn_li .time {
	margin-right: 0%;
	font-size: .22rem;
	color: #999;
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	padding-top: 0rem;
	padding-right: 0rem;
	line-height: .3rem;
	height: .3rem;
	font-weight: normal;
	overflow: hidden;
	position: absolute;
	top: .2rem;
	right: .2rem;
}
.msn_li i {
	margin-right: 0%;
	font-size: .12rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	line-height: .12rem;
	height: .12rem;
	font-weight: normal;
	overflow: hidden;
	position: absolute;
	top: .17rem;
	background-color: #F00;
	border: .02rem solid #FFF;
	width: .12rem;
	left: .62rem;
	border-radius: 50%;
	z-index: 99;
}
.filter_list li .ui-btn {
	margin: 0rem;
	position: relative;
	font-weight: normal;
	padding-top: .2rem;
	padding-right: 0rem;
	padding-bottom: .2rem;
	padding-left: 0rem;
	border-bottom-width: .01rem;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
}
.filter_list li .ui-btn .checkmark {
	display: none;
}
.filter_list li .active .checkmark {
	background-image: url(../images/tick.png);
	background-repeat: no-repeat;
	height: .22rem;
	width: .22rem;
	display: inline-block;
	position: absolute;
	top: .3rem;
	right: .2rem;
}
.filter_list li h2 {
	font-weight: normal;
	font-size: .26rem;
	line-height: .36rem;
	color: #666;
	margin: 0rem;
	padding: 0rem;
	text-align: left;
}
.pay {
	position: relative;
	font-weight: normal;
	padding-top: .2rem;
	padding-right: 0rem;
	padding-bottom: .2rem;
	padding-left: 0rem;
	margin-top: .2rem;
	margin-right: 0rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
}
.pay h2 {
	font-weight: normal;
	font-size: .26rem;
	line-height: .36rem;
	color: #333;
	margin: 0rem;
	padding: 0rem;
	text-align: left;
}
.pay h3 {
	font-weight: normal;
	font-size: .32rem;
	line-height: .36rem;
	color: #ff5000;
	margin: 0rem;
	padding: 0rem;
	text-align: left;
	position: absolute;
	top: .2rem;
	right: 0rem;
}
.dw .location_btn {
	display: block;
	padding: .2rem;
	text-align: center;
	background-color: #ffffff;
	border-top-width: .01rem;
	border-bottom-width: .01rem;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e0e0e0;
	border-bottom-color: #e0e0e0;
	margin-bottom: .1rem;
	display: block;
}
.dw .location_btn span {
	display: block;
	font-size: .26rem;
	color: #333;
	margin-right: auto;
	margin-left: auto;
	line-height: .3rem;
	height: .3rem;
}
.dw {
	background-color: #f2f2f2;
	padding-top: .1rem;
}
.fade {
	left: .2rem!important;
	right: .2rem!important;
}
.btn_dp {
	position: absolute;
	font-size: .25rem;
	color: #fff;
	background-color: rgb(238, 162, 0);
	line-height: .25rem;
	float: right;
	padding-top: .16rem;
	padding-right: .3rem;
	padding-bottom: .16rem;
	padding-left: .3rem;
	border-radius: .05rem;
	height: .25rem;
	border: .01rem solid rgb(238, 162, 0);
	right: 0rem;
	bottom: .1rem;
}
.ui-mobile label {
	font-weight: normal;
	font-size: .26rem;
	padding: .7em 1.6em;
}
.balance_8 {
	text-align: left;
	float: left;
	padding-right: .2rem;
	line-height: .8rem;
	font-size: .28rem;
	color: #999;
	padding-left: .2rem;
	height: .8rem;
}
.cart_div .panel-heading .ui-checkbox {
	height: .62rem;
	width: .52rem;
	margin-left: .15rem;
	position: absolute;
	left: 0rem;
	top: 0rem;
}
.ui-checkbox .ui-btn, .ui-radio .ui-btn {
	margin: 0;
	text-align: left;
	white-space: normal;
	z-index: 2;
	padding: 0rem;
	height: .62rem;
	width: .42rem;
}
.ui-checkbox, .ui-radio {
	margin: 0em;
	position: relative;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	content: "";
	position: absolute;
	display: block;
}
.ui-checkbox-off:after, .ui-checkbox-off:after, .ui-checkbox-off:after {
	background-color: #e0e0e0;
	border: .01rem solid #bbb;
	border-radius: .05rem;
}
.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after {
	color: #fff;
	text-shadow: 0 .01rem 0 #059;
	top: .13rem;
	left: 0rem;
	width: .34rem;
	height: .34rem;
}
.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
	background-image: url(../../images/app/yy.png);
	background-repeat: no-repeat;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	content: "";
	position: absolute;
	display: block;
}
.ui-checkbox-on:after, .ui-checkbox-on:after, .ui-checkbox-on:after {
	background-color: #ff9402;
	border: .01rem solid #ff9402;
	background-image: url(../images/yy.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: .05rem;
}
.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after {
	color: #fff;
	text-shadow: 0 .01rem 0 #059;
	top: .13rem;
	left: 0rem;
	width: .34rem;
	height: .34rem;
}
.ddan .ui-content {
	margin-top: .66rem;
}
.mb11 .ui-checkbox .ui-btn, .ui-radio .ui-btn {
	margin: 0;
	text-align: left;
	white-space: normal;
	z-index: 2;
	height: .62rem;
	line-height: .62rem;
	width: 80%;
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	padding-left: .5rem;
}
.ui-checkbox-off:after, .ui-btn.ui-radio-off:after {
    filter: Alpha(Opacity=30);
    opacity: 1;
}